.skills-container {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.skills-icon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills-row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #2b0808;
}

.skills-toggle {
    padding-top: 50px;
}

/* .skills-sphere {
    border: 2px solid red;
} */

.sphere-image:hover{
    transform: scale(1.3);
    transition: transform 0.5s ease;
}

@media (max-width: 1000px) {
    .skills-container {
        flex-direction: row;
    }

    .skills-toggle {
        padding-top: 0;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .skills-container {
        margin-top: 50px;
        position: relative;
    }
    .skills-toggle {
        position: absolute;
        visibility: hidden;
    }

    .skills-icon {
        width: 100%;
        display: flex;
        flex-flow: row;
        overflow: hidden;
        justify-content: center;
    }
  }