.skills-container {
    color: white;
}

.skills-text {
    padding-left: 50px;
    padding-top: 110px;
}

.skills-title {
    font-size: 4rem;
    margin-top: 20px;
}

.skills-text p {
    font-size: 1.25rem;
    margin-top: 20px;
}

.skills-icon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills-row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #2b0808;
}

.skills-toggle {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}