#tsparticles {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.landing-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.landing-page .introduction {
    color: var(--highlight-text-color);
    position: absolute;
}

.landing-page .introduction h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}