.project-container {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    color: white;
}

.project-header {
    font-size: 4rem;
    margin-bottom: 20px;
    padding-left: 50px;
}

.project {
    display: flex;
}

.project:nth-child(odd) {
    flex-direction: row-reverse;
}

.project-showcase {
    cursor: pointer;
    transition: transform 0.5s;
}

.project-showcase:hover {
    transform: scale(0.95);
    transition: transform 0.5s ease;
}

.project-image-container {
    /* box-shadow: 0 0 32px 0 rgba(255,255,255,0.5); */
    width: 70rem;
    height: 40rem;
    margin: 0 0  10rem 2rem;
}

.project:nth-child(even) .project-image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(131,58,180,1)100%);
}

.project:nth-child(odd) .project-image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: linear-gradient(90deg,  rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.project-image {
    /* box-shadow: 0 0 32px 0 rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 15px; */
    width: 85%;
}

.project-info {
    position: relative;
    height: fit-content;
    padding: 1rem;
    top: 8rem;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    color: white;
    box-shadow: 0 0 32px 0 rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.project:nth-child(even) .project-info {
    left: -7rem;
}

.project:nth-child(odd) .project-info {
    right: -7rem;
}

.project-title {
    font-size: 2.5rem;
}

.project-subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-button {
    text-decoration: none;
    color: white;
    padding: 0.75rem;
    border-radius: 15px;
    margin-top: 1rem;
    text-align: center;
    border: none;
    width: 45%;
}

.project-live {
    background-color: #dc3545;
}

.project-github{
    background-color: #0d6efd;
}

.project-button:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}