.project-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color: white;
}

.project-header {
    font-size: 4rem;
    margin-bottom: 20px;
    padding-left: 50px;
}

.project {
    display: flex;
}

.project:nth-child(odd) {
    flex-direction: row-reverse;
}

.project-showcase {
    cursor: pointer;
    transition: transform 0.5s;
}

.project-showcase:hover {
    transform: scale(0.95);
    transition: transform 0.5s ease;
}

.project-image-container {
    background-color: red;
    width: 70rem;
    height: 40rem;
    margin: 0 0  10rem 2rem;
}

.project:nth-child(even) .project-image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.project:nth-child(odd) .project-image-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.project-image {
    box-shadow: 0 0 32px 0 rgba(255,255,255,0.5);
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 15px;
    width: 85%;
}

.project-info {
    position: relative;
    height: fit-content;
    padding: 1rem;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    top: 8rem;
}

.project:nth-child(even) .project-info {
    left: -7rem;
}

.project:nth-child(odd) .project-info {
    right: -7rem;
}
